body {
    background-image: radial-gradient(whitesmoke 40%, rgb(202, 217, 250) 80%, rgb(149, 193, 250));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
    max-height: 50vh;
    max-width: 92vw;
    min-width: 625px;
}

.key {
    border-radius: 5px;
}

.white {
    width: 91px;
    height: 400px;
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
}

.white:active {
    background-color: rgb(230, 230, 230);
}

.black {
    width: 38px;
    height: 250px;
    background-image: linear-gradient(rgb(50, 50, 50), rgb(80, 80, 80) 90%);
    border: 1px solid rgb(60, 60, 60);
    margin: 0px -24px;
    z-index: 2;
    border-right: 5px solid rgb(51, 51, 51);
    border-left: 5px solid rgb(51, 51, 51);
    border-bottom: 25px solid rgb(51, 51, 51);
}

.black:active {
    background-image: linear-gradient(silver, 20%, rgb(50, 50, 50), 90%, rgb(80, 80, 80));
    height: 260px;
    border-bottom: 15px solid rgba(60, 60, 60);
}